#Box1{
    height: 150px;
    width: 300px;
    background-color: lightsteelblue;
    border: 5px dotted black;
    /* margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em; */
    margin: 20px 1em 40px 2em;
    padding: 1em;
}

.Box2{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
}

ul{
    margin: 30px;
}
li{
    display: inline;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: lightgreen;
}