body{
    font-family: georgia;
}

p{
    color: #a52a2a;
    text-align: center;
    line-height: 30px;
    color: red;
}

h1{
    text-align: center;
    color: red;
}

h3{
    text-align: center;
    color: black;
}

a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: #000000;
}

span{
    text-decoration: underline;
}