.div1{
    width: 600px;
    height: 300px;
    background-color: #329e39;
    margin: 10px auto;
    background-image: url("/Tree.jpg");
    background-size: contain;
    padding: 20px;
    color: white;
}
.div2{
    width: 600px;
    height: 300px;
    background-color: #329e39;
    margin: 10px auto;
    background-image: url("/Tree.jpg");
    background-size: cover;
    padding: 20px;
    color: white;
}
.div3{
    width: 600px;
    height: 300px;
    background-color: #329e39;
    margin: 10px auto;
    background-image: url("/Tree.jpg");
    background-size: auto;
    padding: 20px;
    color: white;
}