div#card{
    width: 200px;
    height: 300px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 5px 10px black;
    transition: 1s;
}
img{
    width: 100%;
}
.desc{
    text-align: center;
}
#card:hover{
    box-shadow: 2px 10px 20px darkblue;
}   
   

