/* HEX Color Codes */
.p1{
    color: #000000;
    background-color: #98b7ff;
}
.p2{
    color: #ff0000;
    background-color: #000000;
}
.p3{
    color: #00ff00;
    background-color: #000000;
}
.p4{
    color: #0000ff;
    background-color: #000000;
}
.p5{
    color: #ffff00;
    background-color: #000000;
}
.p6{
    color: #00ffff;
    background-color: #000000;
}
.p7{
    color: #ff00ff;
    background-color: #000000;
}
.p8{
    color: #ffffff;
    background-color: #000000;
}
