body{
    border: 5px inset #5555;
    margin: 20px;
    padding: 30px;
}

/* color */
.violet{
    background-color: #9400d3;
    padding: 5px;
}
.indigo{
    background-color: #4b0082;
    padding: 5px;
}
.blue{
    background-color: #0000ff;
    padding: 5px;
}
.green{
    background-color: #00ff00;
    padding: 5px;
}
.yellow{
    background-color: #ffff00;
    padding: 5px;
}
.orange{
    background-color: #ff7f00;
    padding: 5px;
}
.red{
    background-color: #ff0000;
    padding: 5px;
}

h1, h2, h3{
    text-align: center;
}

/* Flex-Direction - Row - Flex-Sizing - Flex-Basis */
#container1{
    height: 330px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #b8e4ff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
#container1 div{
    height: 100px;
    width: 220px;
    text-align: center;
    font-size: 1.5em;
}
#blu1{
    flex-basis: 400px;
}
#org1{
    flex-basis: 150px;
}
/* Flex-Direction - Column - Flex-Sizing - Flex-Basis */
#container2{
    height: 450px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #b8e4ff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
#container2 div{
    height: 100px;
    width: 220px;
    text-align: center;
    font-size: 1.5em;
}
#blu2{
    flex-basis: 400px;
}
#org2{
    flex-basis: 150px;
}

/* Flex-Grow */
/* Flex-Direction - Row - Flex-Sizing - Flex-Grow */
#container3{
    height: 330px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #b8e4ff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
#container3 div{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    flex-basis: 80px;
}
#blu3{
    flex-grow: 1;
    /* min-width: 200px;  */
}
#org3{
    flex-grow: 2;
    /* max-width: 250px; */
}

/* Flex-Shrink */
/* Flex-Direction - Row - Flex-Sizing - Flex-Shrink */
#container4{
    height: 400px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #b8e4ff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    /* flex-wrap: wrap; */
}
#container4 div{
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 1.5em;
}
#blu4{
    flex-shrink: 3;
}
#org4{
    flex-shrink: 2;
}
/* Flex-Direction - Row - Flex-Sizing - Flex-Shrink */
#container5{
    height: 500px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #b8e4ff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* align-content: flex-start; */
    /* flex-wrap: wrap; */
}
#container5 div{
    height: 100px;
    width: 800px;
    text-align: center;
    font-size: 1.5em;
}
#blu5{
    flex-shrink: 3;
}
#org5{
    flex-shrink: 2;
}

/* Flex-Shorthand Property - Flex-Grow - Flex-Shrink - Flex-Basis */
#container6{
    height: 300px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #b8e4ff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* align-content: flex-start; */
    /* flex-wrap: wrap; */
}
#container6 div{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
}
/* Blue : Flex-Grow-2 | Flex-Shrink-1 | Flex-Basis-100px */
#blu6{
    flex: 2 2 100px;
}
/* Orange : Flex-Grow-1 | Flex-Shrink-2 | Flex-Basis-100px */
#org6{
    flex: 1 1 100px;
}
