body{
    border: 5px inset #5555;
    margin: 20px;
    padding: 30px;
}

.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

img{
    width: 100%;
    border-radius: 25px;
}

h2 {
    color: #ff4500;
}

span{
    color: #ff8c00;
}

h4{
    text-align: right;
    color: #3c787e;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 500px){
    #pets{
        flex-wrap: wrap;
    }
}

