/* Transform */
section{
    margin: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #79ff79;
    border: 2px solid black;
    margin: 80px 0px;
}
div:nth-of-type(2n){
    background-color: #ffc579;
}
div:nth-of-type(3n){
    background-color: #8fdbff;
}

/* Rotate */
.one{
    transform: rotate(45deg);
}
/* scale */
.two{
    transform: scale(.7, 1.5);
}
/* translate */
.three{
    transform: translate(-100px, 50px);
}
/* Skew */
.four{
    transform: skew(40deg, -10deg);
}
/* All Transform Togather */
.five{
    transform: rotate(30deg) translate(100px) scale(1.5) skew(30deg);
}